/* Copyright */
.copyright {
    background-color: var(--color-white);
}

.copyright__container {
    border: 1px solid var(--selected-container);
    margin: auto;
    padding: 2rem 0;
    text-align: center;
    width: var(--container-size);
}

.copyright__author {
    font-size: 1.5rem;
}

.copyright__author,
.copyright__date {
    color: var(--color-darkgray);
    font-weight: 500;
    margin: 0;
}

.copyright__networks {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.copyright__socialicon {
    margin: 0 0.2rem;
    width: 50px;
}

@media screen and (max-width: 1024px) {
    .copyright__container {
        padding: 1rem;
        width: auto;
    }
}

@media screen and (max-width: 320px) {
    .copyright__author {
        font-size: 1.2rem;
        font-weight: 700;
    }
}