/* Login */
.login {
    background-color: var(--color-gray);
}

.login__container {
    border: 1px solid var(--selected-container);
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 5rem 0;
    text-align: center;
    width: var(--container-size);
}

.login__form {
    display: flex;
    flex-direction: column;
    width: 423px;
}

.login__tittle {
    color: var(--color-darkgray);
    font-size: 1.2rem;
    font-weight: 700;
}

.login__input {
    border: none;
    border-bottom: 1px solid var(--color-lightgray);
    border-radius: 5px;
    margin: 1rem 0;
    padding: 1rem;
}

.login__input:focus,
.login__input:active {
    outline: none;
}

.login__btn--form {
    background-color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 5px;
    color: var(--color-white);
    cursor: pointer;
    font-weight: 600;
    padding: 1rem 0;
    transition: 0.3s;
}

.login__btn--form:hover {
    background-color: var(--color-bluehover);
}

.login__validation {
    width: 100%;
    font-size: 1rem;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    text-align: left;
}

.login__validation--valid {
    background: rgba(0, 255, 0, 0.1);
    border-top: 1px solid #006900;
    border-bottom: 1px solid #006900;
    color: #006900;
}

.login__validation--invalid {
    background: rgba(255, 0, 0, 0.1);
    border-top: 1px solid #be0000;
    border-bottom: 1px solid #be0000;
    color: #be0000;
}

@media screen and (max-width: 1024px) {
    .login__container {
        padding: 1rem;
        width: auto;
    }
}