:root {
    --color-blue: #2A7AE4;
    --color-gray: #F5F5F5;
    --color-lightgray: #C8C8C8;
    --color-darkgray: #464646;
    --color-lightblue: #EAF2FD;
    --color-white: #FFFFFF;
    --container-size: 80%;
    --font-default: 'Raleway', sans-serif;
    --gradient-black: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    --selected-container: transparent;
}

* {
    box-sizing: border-box;
    font-family: var(--font-default);
}