@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import 'component/header';
@import 'component/hero';
@import 'component/products';
@import 'component/footer';
@import 'component/login';
@import 'component/admin';
@import 'component/add-product';
@import 'component/view-product';
@import 'component/error';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F5F5;
    color: #464646;
    font-family: 'Raleway';
}

:root {
    --max-width: 1144px;
    --primary: #2A7AE4;
    --primary-hover: #1f6bce;
    --secondary: #EAF2FD;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway.ttf);
}

@font-face {
    font-family: 'Raleway Italic';
    src: url(../fonts/Raleway-Italic.ttf);
}

.form {
    &-floating {
        width: 100%;
        margin-bottom: 16px;

        textarea {
            height: 82px !important;
            resize: none;
        }
    }

    &-label {
        color: #a2a2a2;
        width: 100%;
    }

    &-control {
        border: none;
        border-radius: 4px;
        border-bottom: 1px solid #c8c8c8;

        &:focus {
            box-shadow: none;
            border-bottom: 1px solid #c8c8c8;
        }
    }
}