.footer {
  background: var(--secondary);
}
.footer__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 64px 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 560px;
}
.footer__container__logo {
  cursor: pointer;
}
.footer__container__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 234px;
}
.footer__container__nav__link {
  font-size: 16px;
  font-weight: 500;
  color: #464646;
  text-decoration: none;
}
.footer__container__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__container__form__title {
  font-size: 16px;
  font-weight: 700;
}
.footer__container__form__item {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  padding: 8px 12px;
  border-radius: 4px;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #C8C8C8;
}
.footer__container__form__item__label {
  color: #A2A2A2;
  font-size: 12px;
  font-weight: 400;
}
.footer__container__form__item__input {
  color: #464646;
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  border: none;
  font-family: "Raleway";
}
.footer__container__form__item__input:focus-visible {
  outline: none;
}
.footer__container__form__textarea {
  background: #FFFFFF;
  padding: 16px 12px;
  color: #464646;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  width: 100%;
  height: 82px;
  border: none;
  resize: none;
  font-family: "Raleway";
  border-bottom: 1px solid #C8C8C8;
}
.footer__container__form__textarea:focus-visible {
  outline: none;
}
.footer__container__form__textarea::-moz-placeholder {
  color: #A2A2A2;
}
.footer__container__form__textarea::placeholder {
  color: #A2A2A2;
}
.footer__container__form__button {
  background: var(--primary);
  font-family: "Raleway";
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  width: 144px;
  height: 51px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.footer__container__form__button:hover {
  background: var(--primary-hover);
}
.footer__copyright {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0px;
}
.footer__copyright__autor {
  font-size: 24px;
  font-weight: 500;
}
.footer__copyright__date {
  font-size: 16px;
  font-weight: 500;
}
.footer__copyright__networks {
  margin-top: 16px;
}
.footer__copyright__networks__icon {
  width: 50px;
}

@media screen and (max-width: 1024px) {
  .footer__container {
    padding: 32px;
    grid-template-columns: 1fr 1fr;
  }
  .footer__container__logo {
    margin-bottom: 26px;
    grid-column: 1/2;
  }
  .footer__container__nav {
    grid-column: 1/2;
  }
  .footer__container__form {
    grid-column: 2/3;
    grid-row: 1/3;
    justify-content: flex-start;
  }
  .footer__container__form__title {
    margin-bottom: 8px;
  }
  .footer__container__form__item {
    margin-bottom: 16px;
  }
  .footer__container__form__textarea {
    margin-bottom: 8px;
  }
  .footer__container__form__button {
    width: 133px;
    height: 40px;
    font-size: 14px;
  }
  .footer__copyright {
    padding: 16px;
  }
}
@media screen and (max-width: 767px) {
  .footer__container {
    padding: 16px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .footer__container {
    padding: 16px;
    grid-template-columns: 1fr;
  }
  .footer__container__logo {
    margin: 0px auto 26px;
  }
  .footer__container__nav {
    margin: 0;
    align-items: center;
    margin-bottom: 32px;
  }
  .footer__container__form {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .footer__container__form__button {
    width: 133px;
    height: 40px;
    font-size: 14px;
  }
  .footer__copyright {
    padding: 16px;
  }
  .footer__copyright__autor {
    font-size: 18px;
    font-weight: 600;
  }
  .footer__copyright__date {
    font-size: 12px;
  }
  .footer__copyright__networks {
    margin-top: 12px;
  }
  .footer__copyright__networks__icon {
    width: 25px;
  }
}/*# sourceMappingURL=footer.css.map */