.login {
    padding: 92px 0px;
    display: flex;
    justify-content: center;

    &__form {
        display: flex;
        flex-direction: column;
        width: 423px;
        align-items: center;

        &__title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 25px;
        }

        // &__input {
        //     padding: 18px 12px;
        //     width: 100%;
        //     margin-bottom: 25px;
        //     border-radius: 4px;
        //     border: none;
        //     font-family: 'Raleway';
        //     font-weight: 400;
        //     font-size: 16px;
        //     border-bottom: 1px solid #C8C8C8;
        //     height: 63px;

        //     &:focus-visible {
        //         outline: none;
        //     }
        // }

        .form {
            &-floating {
                margin-bottom: 24px !important;
            }
        }

        &__button {
            padding: 20px 0px;
            width: 100%;
            font-family: 'Raleway';
            font-weight: 600;
            font-size: 18px;
            color: #FFFFFF;
            background: var(--primary);
            border: none;
            cursor: pointer;
            border-radius: 5px;
            height: 62px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            &:hover {
                background: var(--primary-hover);
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .login {
        padding: 45px;

        &__form {
            width: 275px;

            // &__input {
            //     height: 41px;
            // }

            .form {
                &-floating {
                    margin-bottom: 16px !important;
                }
            }

            &__button {
                width: 109px;
                height: 40px;
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .login {
        padding: 45px 16px;

        // &__form {
        //     &__input {
        //         font-size: 14px;
        //     }
        // }
    }
}